:root {
  --nav-height: 50px;
}

.page {
  display: none;
}

.page.visible {
  display: block;
}

.previous-page,
.next-page {
  color: blue;
}

.previous-page[more_pages="false"],
.next-page[more_pages="false"] {
  pointer-events: none;
  text-decoration: none;
  color: black;
}

img {
  margin-left: 0.5rem;
}

span.hover-information span {
  padding-left: 0.5rem;
  position: absolute;
  background-color: darkkhaki;
  padding: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 1rem;
  color: white;
  z-index: 1;
}

span.hover-information img:hover + span {
  display: inline-block;
}

label,
span.new-line,
textarea {
  display: inline-block;
  padding-bottom: 0.5rem;
}

li {
  padding-bottom: 0.5rem;
}

.center-contents {
  text-align: center;
}

.hidden {
  display: none;
}

.warning {
  color: red;
}

aside.experiment textarea {
  width: 100%;
}

.result {
  color: chocolate;
  text-decoration: underline chocolate;
}

/* broader layout */
nav {
  font-size: larger;
  left: 0;
  width: 100vw;
  height: var(--nav-height);
  padding: 1rem;
  border-bottom: solid;
}

article {
  position: absolute;
  height: calc(100% - var(--nav-height));
  width: calc(100% - var(--aside-width));
  /* margin-right: 275px; */
  overflow: auto;
  padding: 0 1rem;
}

aside {
  margin-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - var(--nav-height));
  width: var(--aside-width);
  overflow: auto;
  padding: 1rem 0.5rem;
}
