.page:target {
  display: block;
}

.page:not(:target) {
  display: none;
}

.initialize-page {
  display: none;
}

.previous-page,
.next-page {
  color: blue;
}

.previous-page[more_pages="false"],
.next-page[more_pages="false"] {
  pointer-events: none;
  text-decoration: none;
  color: black;
}

span.image:hover::after {
  padding-left: 0.5rem;
  position: absolute;
  background-color: darkkhaki;
  display: inline-block;
  padding: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 1rem;
  color: white;
}

img {
  margin-left: 0.5rem;
}

span.image.experiment-button-information:hover::after {
  content: "Click this button to experiment with regular expression patterns on target strings.";
}

span.image.pseudo-element-accessibility-information:hover::after {
  content: "It is a bad idea to put content in a pseudo element as most screen readers will ignore it.";
}

span.image.global-modifier-information:hover::after {
  content: "When you use the '/g', global modifier, all matches are returned. If not, only the first match is returned.";
}

span.image.case-insensitive-modifier-information:hover::after {
  content: "When you use the '/i', case insensitive modifier, matches are made without regard to case.";
}

span.image.caret-symbol-assertion-information:hover::after {
  content: "If the multiline flag, '/m', is used, then it also applies immediately <u> after </u> a line break. Note that the caret symbol, '^', means negation when used at the start of a range.";
}

.row {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.row > * {
  padding-right: 1rem;
}

.navigation {
  font-size: larger;
  border-bottom: solid;
  margin-bottom: 1rem;
}

label,
span.new-line,
textarea {
  display: inline-block;
  padding-bottom: 0.5rem;
}

li {
  padding-bottom: 0.5rem;
}

.center-container {
  width: 20rem;
  margin: 0 auto;
}

.center-contents {
  text-align: center;
}

.hidden {
  display: none;
}

.warning {
  color: red;
}

div.experiment textarea {
  width: 100%;
}

.result {
  color: chocolate;
}
